html{
  font-size: 62.5%; /* Un REM es igual a 10 px */
}

*,*:before,*:after{
  box-sizing:inherit;
}

body{
  font-family: Lato;
  font-size: 1.6rem;
  line-height: 2;
}
/*Globales*/
img{
  max-width: 100%;
}
.contenedor{
  max-width: 100rem;/*es igual a 1000 px */
  margin: 0 auto;
  width: 95%
}

h1{font-size: 3.8rem;}
h2{font-size: 3.2rem;}
h3{font-size: 3rem;}
h4{font-size: 2.6rem;}

/*utilidades*/
.section{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fw-300{
  font-weight:300;
}

.centrar-texto{
  text-align: center;
}

.d-block{
  display: block!important;
}
/*botonoes*/
.boton{
  color:white;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display:inline-block;
  text-align: center;
  border:none;
  cursor: pointer;
  display: block;
  flex: 0 0 87%; /*aqió modifiqué el tamaño del botón*/
}
@media (min-width: 768px){
  .boton{
    display: inline-block;
    flex: 0 0 auto;
  }
}
.boton-amarillo{
  background-color: #E08709;
}

.boton-verde{
  background-color: #71B100;
}


/*Headers*/
.site-header{
/*background-color: #33FF86;*/
/*padding: 0rem  0rem 0rem  0rem;*/
}

.site-header.inicio{
background-image: url(img/logo1.png);
background-size: cover;
background-position: right;

}
@media (min-width:768px){
  .site-header.inicio{
  background-image: url(img/logo1.png);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
  }
}
.contenido-header{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  text-align: center;
}
@media (min-width:768px){
  .contenido-header{
    text-align: left;
  }
}

.contenido-header h1{
  color: transparent;
}

@media (min-width:768px) {
  .contenido-header h1{
    color:white;
    padding-bottom: 2rem;
    max-width: 50rem;
    line-height: 5rem;
  }
}


.barra{
  padding-top: 12rem;
}
@media (min-width:768px){
  .barra{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

}

.barra-nosotros{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
.logo-nosotros{
  display:flex;
  padding: none;
  height: 10rem;
  margin-top:0;
}

.navegacion a{
  color: black;
  text-decoration: none;
  font-size: 2rem;
  margin-right: 2rem;
}

.navegacion-index a{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  display: block;
}
@media (min-width:768px){
  .navegacion-index a{
    display: inline-block;
    margin-right: 2rem;
  }
  .navegacion a:last-of-type{
    margin:0;
  }
}
.navegacion a:hover{
 color:#71B100;
}
.navegacion-index a:hover{
 color:#71B100;
}


/*Iconos nosotros*/
@media (min-width:768px){
  .iconos-nosotros{
    display: flex;
    justify-content: space-between;
  }
}
.icon{
  text-align: center;
}
@media (min-width:768px){
  .icon{
  flex-basis: calc(33.3% - 1rem);
  }
}

.icon h3{
  text-transform:uppercase;
  }

  /** Anuncios **/
  @media (min-width:768px){
    .contenedor-anuncios{
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
    }
}
.anuncio{
  border: 1px solid #B5B5B5;
  background-color: #F5F5F5;
  margin-bottom: 2rem;
}

@media (min-width:768px){
  .anuncio{
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
  }
}
.contenido-anuncio{
  padding: 1rem;
}

.contenido-anuncio h3, .contenido-anuncio p{
  margin: 0;
}

.niveles{
  color: #71B100;
  font-weight: 700;
}

.iconos-caracteristicas{
  list-style:none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.iconos-caracteristicas li{
  display: flex;
}

.iconos-caracteristicas li img{
  margin-left: 2.5rem;
}
.todos-los-Cursos{
  display: flex;
  justify-content: flex-end;
}

/*Contacto home*/
.imagen-contacto{
  background-image:url(img/encuentra.jpg);
  background-position: center center;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
}

.contenido-contacto{
  flex:0 0 95%;
  color: white;
}

.contenido-contacto p{
  font-size: 1.8rem;
}

.tamaño-icono{
  width: 5rem;
}

/*Secciòn inferiro*/
@media (min-width:768px){
.seccion-inferior{
display: flex;
justify-content: space-between;
}
.seccion-inferior .Robots{
  flex-basis: 55%;
}
.seccion-inferior .Testimoniales{
  flex-basis: calc(40% - 2rem);
  }
}
.Entrada-blog{
display: flex;
justify-content: space-between;
margin-bottom: 2rem;
}

.Entrada-blog .imagen{
  flex-basis: 40%;
}

.Entrada-blog .texto-entrada{
  flex-basis: calc(60% - 3rem);
}

.texto-entrada h4{
  margin: 0;
  line-height: 1.4;
}
.texto-entrada p{
  text-align: justify;
}

.texto-entrada h4::after{
  content: '';
  display: block;
  width: 15rem;
  height: .5rem;
  background-color: #71B100;
  margin-top: 1rem;
}

.texto-entrada  a{
  color:black;
  text-decoration: none;
}

.texto-entrada a:hover{
  color:#71B100;
}

.Entrada-Blog:last-of-type{
  margin-bottom: 0;
}

/*testimoniales*/

.testimonial{
  background-color: #71B100;
  font-size: 2rem;
  padding:2rem;
  color: white;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  margin-bottom: 3rem;
}

.testimonial p{
  text-align: right;
}

.testimonial blockquote::before{
  content:'';
  background-image:url(img/comilla.svg);
  width: 4rem;
  height: 4rem;
  display: block;
  position: absolute;
  left: -2rem;
}

.testimonial blockquote{
  position: relative;
  padding-left: 5rem;
}
/*footer*/
.site-footer{
  background-color: #333333;
  margin: 0;
}
.contenedor-footer{
  padding: 3rem 0;
  text-align: center;
}

@media (min-width:768px){
  .contenedor-footer{
    display: flex;
    justify-content: space-between;
  }
}

.site-footer nav{
  display: none;
}

@media (min-width:768px){
  .site-footer nav{
  display: block;
}
}
.copyright{
margin: 0;
color: white;
}


/*** Internas****/

.contenido-nosotros{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 2rem;
}

.texto-Nosotros blockquot{
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
  padding: 3rem 0;
}

.texto-Nosotros p{
  text-align: justify;
}

/*iCONOS PAGINA NOSOTROS*/

.iconos-nosotros-nosotros{
  display: flex;
  justify-content: space-between;

}
.icon-nosotros h3{
  text-transform:capitalize;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  line-height: 1.5;
  }

.icon-nosotros{
    flex-basis: calc(25% - 4rem);
    text-align: center;
  }

/************CURSO*********
*************************
**************************/
.primaria{
  background-color: #87CEEB;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-right: 40rem;
}
.secundaria{
  background-color: #ff9386;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-left: 40rem;
}

.preparatoria {
  background-color: #FFBCD9;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-right: 40rem;
}

.resumen-curso{
  color: white;
  padding: 1rem 2rem 1rem 2rem;
}
.iconos-caracteristicas{
}

.seccion{
  margin-block-start: 0rem;
}
.site-header-curso{
background-color: white;

}
.navegacion-curso a{
  color: black;
  text-decoration: none;
  font-size: 2rem;
  margin-right: 2rem;
}


/*******Contacto**********
*************************
**************************/
legend{
  font-size: 2.4rem;
  color: #4f4f4f;
}
label{
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
input:not([type="submit"]),textarea, select{
  padding: 1rem ;
  display: block;
  width: 96%;
  background-color: #e1e1e1;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 0.5rem;
}
select{
  -webkit-appearance:none;
  appearance:none;
}
input[placeholder="Tu nombre"]{
  padding-left: 1rem;
}
textarea{
  height: 10rem;
}

.infocontacto{

}

.iconos-contacto{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 10% 50%;
  grid-column-gap: 2rem;
}


.iconos-contacto li img{
}

.iconos-contacto p{
}
